Housing Price Prediction
Your neighbor is a real estate agent and wants some help predicting housing prices for regions in the USA. It would be great if you could somehow create a model for her that allows her to put in a few features of a house and returns back an estimate of what the house would sell for. 
She has asked you if you could help her out with your new data science skills. You say yes, and decide that Linear Regression might be a good path to solve this problem! Your neighbor then gives you some information about a bunch of houses in regions of the United States, it is all in the data set: USA_Housing.csv. 
The data contains the following columns: 
'Avg. Area Income': Avg. Income of residents of the city house is located in.
'Avg. Area House Age': Avg Age of Houses in same city 
'Area Number of Rooms': Avg Number of Rooms for Houses in same city 
'Area Number of Bedrooms': Avg Number of Bedrooms for Houses in same city. 
'Area Population': Population of city house is located in 
'Price': Price that the house sold at 
'Address': Address for the house.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

from sklearn.preprocessing import Binarizer,LabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler, Normalizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.linear_model import Ridge, Lasso

pd.set_option('display.max_columns',None)

In [2]:
normalizer=Normalizer()
minmaxScaler=MinMaxScaler()
standardScaler=StandardScaler()

In [3]:
data=pd.read_csv('USA_Housing.csv')
data

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386
...,...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06,USNS Williams\nFPO AP 30153-7653
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06,USS Wallace\nFPO AE 73316
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."

In [4]:
data.isna().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
Address                         0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [6]:
data['Address'].value_counts()

Address
208 Michael Ferry Apt. 674\nLaurabury, NE 37010-5101             1
314 Christopher Square Apt. 404\nLake Ronaldville, SD 42025      1
21042 Wilson Islands Suite 238\nFischerchester, MP 42425-4129    1
Unit 8831 Box 5748\nDPO AE 73012-7314                            1
481 Kaitlin Mission Apt. 309\nJodystad, IA 16947                 1
                                                                ..
054 Carter Crescent Suite 674\nGlennport, WA 11140               1
8460 Kathleen Mission Apt. 482\nPort Amytown, KY 72016           1
3737 Hartman Rue\nReneestad, ID 69250-7718                       1
3465 Latoya Well\nNelsonmouth, MI 55741-4287                     1
37778 George Ridges Apt. 509\nEast Holly, NV 29290-3595          1
Name: count, Length: 5000, dtype: int64

# Income

In [8]:
data['Avg. Area Income'].value_counts().sort_index()

Avg. Area Income
17796.631190     1
35454.714659     1
35608.986237     1
35797.323122     1
35963.330809     1
                ..
101599.670580    1
101928.858060    1
102881.120902    1
104702.724257    1
107701.748378    1
Name: count, Length: 5000, dtype: int64

In [9]:
income_zscore=(data['Avg. Area Income']-data['Avg. Area Income'].mean())/data['Avg. Area Income'].std()
income_zscore.sort_values()

39     -4.765108
3069   -3.108315
2092   -3.093840
4855   -3.076169
1459   -3.060593
          ...
2719    3.097822
962     3.128709
3541    3.218056
1734    3.388970
693     3.670358
Name: Avg. Area Income, Length: 5000, dtype: float64

In [10]:
def z_score_sort(column):
    z=(column-column.mean())/column.std()
    return z.sort_values()

In [11]:
z_score_sort(data['Avg. Area Income'])

39     -4.765108
3069   -3.108315
2092   -3.093840
4855   -3.076169
1459   -3.060593
          ...
2719    3.097822
962     3.128709
3541    3.218056
1734    3.388970
693     3.670358
Name: Avg. Area Income, Length: 5000, dtype: float64

In [12]:
data['Avg. Area Income']=standardScaler.fit_transform(data[['Avg. Area Income']])
data[['Avg. Area Income']]

      Avg. Area Income
0             1.028660
1             1.000808
2            -0.684629
3            -0.491499
4            -0.807073
...                ...
4995         -0.752109
4996          0.929740
4997         -0.487235
4998         -0.054592
4999         -0.288313

[5000 rows x 1 columns]

# Age

In [14]:
data['Avg. Area House Age'].value_counts().sort_index()

Avg. Area House Age
2.644304    1
2.683043    1
2.797215    1
2.797619    1
2.922736    1
           ..
8.973441    1
8.991399    1
9.008900    1
9.125283    1
9.519088    1
Name: count, Length: 5000, dtype: int64

In [15]:
z_score_sort(data['Avg. Area House Age'])

1074   -3.361639
1628   -3.322567
4488   -3.207411
4565   -3.207003
2465   -3.080808
          ...
1777    3.022038
1091    3.040152
3138    3.057803
2898    3.175189
3989    3.572388
Name: Avg. Area House Age, Length: 5000, dtype: float64

In [16]:
data['Avg. Area House Age']=standardScaler.fit_transform(data[['Avg. Area House Age']])

In [17]:
data[['Avg. Area House Age']]

      Avg. Area House Age
0               -0.296927
1                0.025902
2               -0.112303
3                1.221572
4               -0.944834
...                   ...
4995             1.869297
4996             1.030822
4997             1.284470
4998            -0.446694
4999             0.015215

[5000 rows x 1 columns]

# Rooms

In [19]:
data['Avg. Area Number of Rooms'].value_counts().sort_index()

Avg. Area Number of Rooms
3.236194     1
3.950225     1
3.950973     1
3.969632     1
4.027931     1
            ..
10.024375    1
10.144988    1
10.219902    1
10.280022    1
10.759588    1
Name: count, Length: 5000, dtype: int64

In [20]:
z_score_sort(data['Avg. Area Number of Rooms'])

496    -3.729841
2771   -3.019951
1799   -3.019207
1757   -3.000657
3922   -2.942696
          ...
3806    3.018973
3855    3.138886
2066    3.213366
3336    3.273138
1536    3.749922
Name: Avg. Area Number of Rooms, Length: 5000, dtype: float64

In [21]:
data['Avg. Area Number of Rooms']=standardScaler.fit_transform(data[['Avg. Area Number of Rooms']])

In [22]:
data[['Avg. Area Number of Rooms']]

      Avg. Area Number of Rooms
0                      0.021274
1                     -0.255506
2                      1.516243
3                     -1.393077
4                      0.846742
...                         ...
4995                  -0.845588
4996                  -0.408686
4997                  -2.170269
4998                   0.141541
4999                  -0.194342

[5000 rows x 1 columns]

# Bedrooms

In [24]:
data['Avg. Area Number of Bedrooms'].value_counts().sort_index()

Avg. Area Number of Bedrooms
2.00    20
2.01    16
2.02    20
2.03    14
2.04    25
        ..
6.46    11
6.47     7
6.48     8
6.49    14
6.50    14
Name: count, Length: 255, dtype: int64

In [25]:
z_score_sort(data['Avg. Area Number of Bedrooms'])

3313   -1.605437
662    -1.605437
1729   -1.605437
2947   -1.605437
986    -1.605437
          ...
4689    2.040835
4051    2.040835
4902    2.040835
1995    2.040835
3552    2.040835
Name: Avg. Area Number of Bedrooms, Length: 5000, dtype: float64

# Population

In [27]:
data['Area Population'].value_counts().sort_index()

Area Population
172.610686      1
3285.450538     1
3883.448164     1
4114.489353     1
5727.485885     1
               ..
68311.695822    1
69553.988327    1
69575.449464    1
69592.040236    1
69621.713378    1
Name: count, Length: 5000, dtype: int64

In [28]:
z_score_sort(data['Area Population'])

314    -3.626050
1530   -3.312434
2756   -3.252187
2534   -3.228910
4491   -3.066402
          ...
3991    3.238899
353     3.364059
228     3.366221
1595    3.367893
4803    3.370882
Name: Area Population, Length: 5000, dtype: float64

In [29]:
data['Area Population']=standardScaler.fit_transform(data[['Area Population']])

# Price

In [31]:
#target

# Address

In [33]:
data['Address'].value_counts()

Address
208 Michael Ferry Apt. 674\nLaurabury, NE 37010-5101             1
314 Christopher Square Apt. 404\nLake Ronaldville, SD 42025      1
21042 Wilson Islands Suite 238\nFischerchester, MP 42425-4129    1
Unit 8831 Box 5748\nDPO AE 73012-7314                            1
481 Kaitlin Mission Apt. 309\nJodystad, IA 16947                 1
                                                                ..
054 Carter Crescent Suite 674\nGlennport, WA 11140               1
8460 Kathleen Mission Apt. 482\nPort Amytown, KY 72016           1
3737 Hartman Rue\nReneestad, ID 69250-7718                       1
3465 Latoya Well\nNelsonmouth, MI 55741-4287                     1
37778 George Ridges Apt. 509\nEast Holly, NV 29290-3595          1
Name: count, Length: 5000, dtype: int64

In [34]:
import re
data['state'] = [re.search(r"([A-Z]{2})\s\d{5}", address).group(1) for address in data['Address']]

data['state']

0       NE
1       CA
2       WI
3       AP
4       AE
        ..
4995    AP
4996    AA
4997    VA
4998    AE
4999    NV
Name: state, Length: 5000, dtype: object

In [35]:
data['state'].value_counts()

state
AA    177
AP    170
AE    167
GU     91
OR     91
     ...
KS     67
WI     67
IL     64
MD     62
VI     55
Name: count, Length: 62, dtype: int64

In [36]:
data['state'].unique()

array(['NE', 'CA', 'WI', 'AP', 'AE', 'KS', 'CO', 'TN', 'AA', 'NM', 'PW',
       'AR', 'HI', 'ME', 'IN', 'MI', 'DE', 'AZ', 'MA', 'MN', 'AL', 'NY',
       'NV', 'VA', 'ID', 'OK', 'NH', 'MO', 'WV', 'WY', 'MH', 'UT', 'SD',
       'CT', 'AK', 'WA', 'RI', 'NJ', 'KY', 'NC', 'IA', 'VT', 'FM', 'ND',
       'LA', 'MP', 'OR', 'TX', 'DC', 'PR', 'MT', 'AS', 'OH', 'MS', 'IL',
       'VI', 'GA', 'PA', 'MD', 'SC', 'GU', 'FL'], dtype=object)

In [1]:
#data['state'].tolist()

In [38]:
region=[]
for state in data['state'].tolist():
    if state in ['ME', 'NH', 'VT', 'MA', 'RI', 'CT', 'NY', 'NJ', 'PA']:
        region.append('Northeast')
    elif state in ['OH', 'MI', 'IN', 'IL', 'WI', 'MO', 'ND', 'SD', 'NE', 'KS', 'MN', 'IA']:
        region.append('Midwest')
    elif state in ['DE', 'MD', 'VA', 'WV', 'KY', 'NC', 'SC', 'GA', 'FL', 'AL', 'TN', 'MS', 'AR', 'LA', 'TX', 'OK']:
        region.append('South')
    elif state in ['MT', 'WY', 'CO', 'NM', 'AZ', 'UT', 'NV', 'ID', 'WA', 'OR', 'CA', 'AK', 'HI']:
        region.append('West')
    elif state in ['DC', 'PR', 'GU', 'VI', 'AS', 'MP', 'FM', 'PW', 'MH', 'AP', 'AE', 'AA']:
        region.append('US Territories')
    else:
        region.append('Unknown')

In [39]:
data['region']=region

In [40]:
data.region.value_counts()

region
South             1237
US Territories    1184
West               994
Midwest            901
Northeast          684
Name: count, dtype: int64

In [41]:
data

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address,state,region
0,1.028660,-0.296927,0.021274,4.09,-1.317599,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701...",NE,Midwest
1,1.000808,0.025902,-0.255506,3.09,0.403999,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA...",CA,West
2,-0.684629,-0.112303,1.516243,5.13,0.072410,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482...",WI,Midwest
3,-0.491499,1.221572,-1.393077,3.26,-0.186734,1.260617e+06,USS Barnett\nFPO AP 44820,AP,US Territories
4,-0.807073,-0.944834,0.846742,4.23,-0.988387,6.309435e+05,USNS Raymond\nFPO AE 09386,AE,US Territories
...,...,...,...,...,...,...,...,...,...
4995,-0.752109,1.869297,-0.845588,3.46,-1.342732,1.060194e+06,USNS Williams\nFPO AP 30153-7653,AP,US Territories
4996,0.929740,1.030822,-0.408686,4.02,-1.062747,1.482618e+06,"PSC 9258, Box 8489\nAPO AA 42991-3352",AA,US Territories
4997,-0.487235,1.284470,-2.170269,2.13,-0.291937,1.030730e+06,"4215 Tracy Garden Suite 076\nJoshualand, VA 01...",VA,South
4998,-0.054592,-0.446694,0.141541,5.44,0.651116,1.198657e+06,USS Wallace\nFPO AE 73316,AE,US Territories
4999,-0.288313,0.015215,-0.194342,4.07,1.041625,1.298950e+06,"37778 George Ridges Apt. 509\nEast Holly, NV 2...",NV,West

In [42]:
data=data.drop(['Address','state'],axis=1)

In [43]:
data

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,region
0,1.028660,-0.296927,0.021274,4.09,-1.317599,1.059034e+06,Midwest
1,1.000808,0.025902,-0.255506,3.09,0.403999,1.505891e+06,West
2,-0.684629,-0.112303,1.516243,5.13,0.072410,1.058988e+06,Midwest
3,-0.491499,1.221572,-1.393077,3.26,-0.186734,1.260617e+06,US Territories
4,-0.807073,-0.944834,0.846742,4.23,-0.988387,6.309435e+05,US Territories
...,...,...,...,...,...,...,...
4995,-0.752109,1.869297,-0.845588,3.46,-1.342732,1.060194e+06,US Territories
4996,0.929740,1.030822,-0.408686,4.02,-1.062747,1.482618e+06,US Territories
4997,-0.487235,1.284470,-2.170269,2.13,-0.291937,1.030730e+06,South
4998,-0.054592,-0.446694,0.141541,5.44,0.651116,1.198657e+06,US Territories
4999,-0.288313,0.015215,-0.194342,4.07,1.041625,1.298950e+06,West

In [44]:
region_onehot=pd.get_dummies(data.region, dtype='int',drop_first=True)

In [45]:
data=pd.concat([data,region_onehot],axis=1)
data

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,region,Northeast,South,US Territories,West
0,1.028660,-0.296927,0.021274,4.09,-1.317599,1.059034e+06,Midwest,0,0,0,0
1,1.000808,0.025902,-0.255506,3.09,0.403999,1.505891e+06,West,0,0,0,1
2,-0.684629,-0.112303,1.516243,5.13,0.072410,1.058988e+06,Midwest,0,0,0,0
3,-0.491499,1.221572,-1.393077,3.26,-0.186734,1.260617e+06,US Territories,0,0,1,0
4,-0.807073,-0.944834,0.846742,4.23,-0.988387,6.309435e+05,US Territories,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
4995,-0.752109,1.869297,-0.845588,3.46,-1.342732,1.060194e+06,US Territories,0,0,1,0
4996,0.929740,1.030822,-0.408686,4.02,-1.062747,1.482618e+06,US Territories,0,0,1,0
4997,-0.487235,1.284470,-2.170269,2.13,-0.291937,1.030730e+06,South,0,1,0,0
4998,-0.054592,-0.446694,0.141541,5.44,0.651116,1.198657e+06,US Territories,0,0,1,0
4999,-0.288313,0.015215,-0.194342,4.07,1.041625,1.298950e+06,West,0,0,0,1

In [46]:
data=data.drop('region',axis=1)
data

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Northeast,South,US Territories,West
0,1.028660,-0.296927,0.021274,4.09,-1.317599,1.059034e+06,0,0,0,0
1,1.000808,0.025902,-0.255506,3.09,0.403999,1.505891e+06,0,0,0,1
2,-0.684629,-0.112303,1.516243,5.13,0.072410,1.058988e+06,0,0,0,0
3,-0.491499,1.221572,-1.393077,3.26,-0.186734,1.260617e+06,0,0,1,0
4,-0.807073,-0.944834,0.846742,4.23,-0.988387,6.309435e+05,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
4995,-0.752109,1.869297,-0.845588,3.46,-1.342732,1.060194e+06,0,0,1,0
4996,0.929740,1.030822,-0.408686,4.02,-1.062747,1.482618e+06,0,0,1,0
4997,-0.487235,1.284470,-2.170269,2.13,-0.291937,1.030730e+06,0,1,0,0
4998,-0.054592,-0.446694,0.141541,5.44,0.651116,1.198657e+06,0,0,1,0
4999,-0.288313,0.015215,-0.194342,4.07,1.041625,1.298950e+06,0,0,0,1

In [47]:
data.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Northeast',
       'South', 'US Territories', 'West'],
      dtype='object')

In [48]:
X=data.drop('Price',axis=1)
y=data['Price']

In [49]:
X

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Northeast,South,US Territories,West
0,1.028660,-0.296927,0.021274,4.09,-1.317599,0,0,0,0
1,1.000808,0.025902,-0.255506,3.09,0.403999,0,0,0,1
2,-0.684629,-0.112303,1.516243,5.13,0.072410,0,0,0,0
3,-0.491499,1.221572,-1.393077,3.26,-0.186734,0,0,1,0
4,-0.807073,-0.944834,0.846742,4.23,-0.988387,0,0,1,0
...,...,...,...,...,...,...,...,...,...
4995,-0.752109,1.869297,-0.845588,3.46,-1.342732,0,0,1,0
4996,0.929740,1.030822,-0.408686,4.02,-1.062747,0,0,1,0
4997,-0.487235,1.284470,-2.170269,2.13,-0.291937,0,1,0,0
4998,-0.054592,-0.446694,0.141541,5.44,0.651116,0,0,1,0
4999,-0.288313,0.015215,-0.194342,4.07,1.041625,0,0,0,1

In [50]:
y

0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 5000, dtype: float64

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [52]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4000, 9)
(1000, 9)
(4000,)
(1000,)

In [53]:
model=LinearRegression()

In [54]:
model.fit(X_train,y_train)

LinearRegression()

In [55]:
y_pred=model.predict(X_test)

In [56]:
y_pred

array([1307239.39227752, 1234829.89184411, 1248184.51313506,
       1233466.01918569, 1067516.07759246, 1540454.43281495,
       1099169.61960449,  837709.36537762,  791772.13372691,
       1474277.37690565,  667940.42044507, 1604389.45760742,
       1001871.5402059 , 1794865.30966015, 1286090.85330984,
       1085524.4192091 , 1427632.7071667 , 1074540.10982822,
        806758.79362329,  934149.99836632, 1132560.92481432,
        914190.9672614 , 1487867.27325117, 1289157.02112343,
       1586587.64664415, 1130969.05393212, 1088418.72978355,
        973054.39305417,  927569.28796753, 1745091.91420993,
       1290194.40738784, 1617892.0759791 , 1432830.27996573,
       1238345.83612591, 1483448.12340496, 1722726.75743084,
       1536509.8015884 ,  780260.23222388, 1761494.59946777,
       1173726.34173266, 1558347.459958  ,  900941.11856105,
       1368831.99640629,  841581.57835537, 1198673.74018968,
       1129396.91184589, 1361728.13084228, 1447824.69423662,
       1578752.29598072, 1238262.28357875, 1488859.64610983,
       1293115.01318514, 1218907.46751415,  994191.56894038,
       1690380.94254585, 1820293.04623628, 1132897.83243493,
       1285745.97641311, 1331714.15168583, 1349945.7939341 ,
        970708.47122661,  659225.30241423, 1537405.461571  ,
       1005792.51769822,  992066.2387219 , 1571694.41765344,
       1497408.07074728, 1088892.64274547, 1825432.07619411,
       1483417.27736154,  907309.58458413, 1498965.6225893 ,
       1383196.40567374,  965509.41253551,  710335.29135091,
       1564312.13231758, 1152653.70325736,  934667.92213313,
       1598960.69461954,  505475.65991511, 1591712.4372612 ,
       1295551.95579972,  679672.36937559,  430517.53754054,
       1391785.91871315,  695306.99165733,  662200.48073155,
       1028110.56453982, 1482878.8485989 , 1316592.84058448,
       1269924.19520618, 1418814.78372063,  669165.28251368,
       1146269.88300443, 1259987.83732094,  788983.68457553,
       1186339.45739434, 1013278.2600502 , 1401870.24108245,
       1535370.38681778,  590850.76728926, 1395143.59691557,
       1260646.8013226 , 1873384.21393438, 2341601.38479988,
        942737.80532334, 1319987.45906998,  949379.58391822,
       1835260.1151328 , 1624722.5776736 , 1643961.04199642,
       1271597.61174333, 1802552.75292241, 1225137.54865494,
        847312.71116782, 1582969.59456135,  758404.3133394 ,
       1356398.96932589, 1183753.64968576, 1557041.07114902,
       1773862.98188633, 1611485.7538869 , 1572628.7557912 ,
       1535737.12633786, 1810887.79262509, 1128058.59290097,
        673727.96486251,  976825.80883328, 1312560.51777819,
       1625380.3310636 , 1339951.11267531, 1086761.65964209,
       1514567.64554295, 1336777.34127315, 1418323.88456398,
       1524346.42962109, 1678600.43882173, 1304308.50681501,
        841355.77734647, 1443898.88297019, 1855469.76108365,
       1094774.01683706, 1850206.61252594, 1268479.37647819,
       2034398.59034864,  880473.2153576 ,  952095.98236123,
       1121483.4252272 , 1398217.83641596, 1507138.35967434,
        957406.6080821 ,  966225.3331854 , 1325218.17470465,
       1497687.19116604, 1316142.73742655,  769095.79538032,
       1727354.89017799,  970551.04688294, 1978730.98294719,
       1257770.42406737, 1376781.34456031, 1462317.2076861 ,
       1039317.06661132, 2014101.30599674, 1428719.05108277,
        788111.37178168,  829693.9553788 , 1752438.78189355,
       1074999.28418099, 2072458.61631271, 1734442.64605747,
       1047825.81088646, 1825536.07353124, 1132191.09389123,
       1632439.96567801, 1639224.01606692, 1523747.30215483,
        720818.08187758,  743527.93670745,  551904.00834448,
        826478.59399348, 1063770.91680171,  973558.90588942,
       1223624.1832608 ,  869736.19758301,  508427.70714839,
       1196539.62655372, 1065234.76736264, 1518147.81172435,
       1327711.96375119, 1384239.18512411, 1318538.8161514 ,
       1203075.09313862, 1238355.37853634, 1370241.62165597,
       1768765.70212094, 1325999.44973528, 1373947.1611341 ,
       1302212.80094452,  832736.6015824 , 1276648.59684693,
       1447950.63945638, 1287056.01293939,  895567.87530485,
        994761.46071726, 1355690.49057512, 1653729.79954656,
        782422.723075  , 1004222.6324569 , 1464368.42034017,
       1123537.87847009, 1145818.66320417, 1248052.5312189 ,
       1104111.44389894,  620739.30216037, 1846328.38372389,
       1187078.13916009,  607612.59898322, 1408483.0925198 ,
       1261605.03190657, 1124324.01503218, 1143217.45400351,
        496832.25272931, 1106089.91333998, 1624618.93702637,
        802182.77982052, 1404627.19265201, 1557169.13459768,
       1703307.70927013, 1717964.5003272 , 1214614.19366708,
       1119339.99617287, 1004349.29245764, 1063488.70341694,
       1623001.5220042 , 1597254.64075139, 1524091.57611438,
       1126493.24193133,  732062.07486993, 1598176.05786407,
       1730139.510941  , 1262723.19708341, 1213100.35548038,
       1544575.53831761, 1744768.87036973,  540911.07999614,
       1176635.49829164, 1402736.59418182, 1129875.59176132,
        543612.32523903, 1288439.40953175, 1656285.14208511,
       1483759.1437445 , 1294505.78257008, 2054896.60941497,
        765134.61656806, 1862140.17196313,  928219.63869434,
       1759762.46036113, 1663744.25551458, 1251904.71505899,
        710999.92789974, 1783250.75529024,  466210.50606984,
       2165302.31298676,  669097.72879298, 1800004.82700259,
       1269338.98711308, 1143871.60547043, 1178296.25161894,
       1751668.61161043, 1144034.9717337 , 1034428.30022935,
        943539.09540818, 1180073.82358832,  930722.06405269,
       1564506.30772899, 1174359.04808734,  392257.48185276,
       1292074.66488618,  991396.47253709, 1337873.73994553,
       1042927.5014294 , 1289876.82021759, 1534309.53690753,
       1672104.51004815, 1088374.43867228,  718557.87076484,
        816488.71649123, 1325260.36341637, 1523066.40389088,
       1377864.85213538, 1454250.80556673,  995483.57147315,
       2250952.60616213, 1496698.10536798, 1347718.23240078,
       1039206.2601626 ,  489716.60183102, 1797040.85180815,
       1197005.62685005, 1245245.40597915, 1121428.74179799,
       1001858.51708542, 1703704.64119156, 1508844.53685535,
       1437241.51324264, 1341174.68804985, 1600031.68597719,
        825462.09772896, 1125290.2818099 , 1295977.96956624,
       1695386.73992657, 1230450.36529563, 1487341.67794476,
       1237816.16414722, 1139544.64120699, 1736678.162711  ,
       1351511.26778115,  617405.43372199, 1497946.30642744,
       1199902.05156065, 1325231.14340974, 1095819.90767711,
       1218958.42848124,  786120.12618545,  938635.07418018,
       1286000.70385284, 1478304.55548572,  608284.71525496,
       1179773.1414262 , 1034095.8666101 ,  807044.57616657,
        660205.11956471,  979904.87447651,  984359.65937384,
       1318450.63150128, 1193621.87929939,  957667.99864639,
       1280338.58739249, 1429719.61318354, 1658718.80652845,
       1519520.90980388, 1401443.32769004, 1412537.61189998,
       1218664.97536726, 1231249.37258603, 1650565.08465148,
       1331883.64212061, 1318989.98750899, 1296943.07706089,
       1345118.36127297, 1693530.71405116, 1578936.7744942 ,
       1044022.14335801, 1354881.05884912, 1442833.75036747,
       1500809.72605515, 1134718.25173589, 1496434.70852292,
       1483429.46908805,  389303.81363476, 1212256.931209  ,
       1722897.40494723, 1210939.1640426 ,  890917.20035572,
       1239202.80771898, 1313081.34471426, 1435093.13713469,
        896790.43646522, 1790533.77990478, 2080769.94972866,
        920357.80711775, 1456236.33915791, 1247670.66849166,
       1369465.58479974, 1119332.73071539,  961706.57189894,
       1325300.89241525, 1191657.40051218,  947155.28440264,
        422479.25818527, 1227057.32968264, 1416241.15304665,
       1234579.5403115 , 1453619.52808661, 1416502.77603995,
        931542.99915228, 1011125.74434886, 1328576.20544144,
        468322.64537615, 1566296.41984673, 1069328.02530244,
       1258044.51510729,  982043.62703148, 1091007.60725188,
        722738.79093171,  811829.99907181,  799292.38210243,
       1623927.24453037,  455316.19198912, 1304566.78927538,
        959188.02900571, 1029404.63290259, 1380894.10924925,
       1239381.26175534,  767846.59377002, 1023770.29462929,
       1402225.99654066, 1754306.90193018, 1279201.76792841,
        620282.26903714, 1454523.70107472, 1196251.19385992,
       1361644.09008502, 1075718.81099438, 1355801.22491021,
       1061879.18782475, 1288349.25274238,  702759.46132958,
       1196861.06610655, 1505454.43120903,  966683.79673758,
       1201707.24062622, 1570469.97098774, 1206153.08034122,
       1548474.59103365,  773004.69141866, 1409415.4305963 ,
       1236966.46834583, 1027534.03182277, 1333378.001382  ,
       1092369.02876484, 1050577.7151457 , 1385446.78977461,
        917311.56617855, 1099806.08220071, 1404735.86650443,
        805351.14125081, 1194010.91018337, 1008017.25647845,
       1391356.28125267, 1255452.54589916, 1296187.66187911,
       1298193.25949116, 1727393.94043412, 1710061.05871459,
       1178906.91907698,  894099.90607888, 1361310.55400348,
       1224529.84060253, 1365203.22594667, 1642947.58862041,
        723383.31085056, 1575360.62759062,  929619.85311359,
        676715.69874069, 1586398.44870028, 1371422.60588293,
       1240243.35933022, 1937542.23444503, 1244866.28621064,
       1396714.7139664 , 1699524.11948723, 1055759.03884238,
       1273284.44956235, 1301016.33879636,  896551.50455089,
        968267.81619563,  817503.23851793, 1404581.98355656,
       1178270.16747191, 1256860.51439814, 1707423.34790582,
       1653546.22192929, 1727529.93806368, 1123578.86534972,
        869475.1095309 ,  972641.37491015,  781325.85922462,
        780501.95200917, 1206084.78069937,  970782.57193902,
       1573551.40371486, 1064371.85802054,  697680.58410618,
       1609197.72027131, 1307126.29989143, 1145792.89562979,
       1210318.48553692, 1284569.90272397, 1170813.70923875,
       1566328.17969086, 1326145.21627686, 1164373.47074068,
        786982.71540635, 1142195.863583  ,  644554.90024584,
       1069771.04914693, 1426922.63793536, 1420761.05440201,
       1056164.65970829, 1433651.28639906, 1328381.36891822,
       1295511.55602533, 1075945.73115678, 1285507.93002632,
       1016995.27404801, 1040617.56502863, 1048403.89255428,
        730360.94769304,  786637.92010155,  998442.93268422,
       1065798.04054044, 1127718.24888829, 1461411.41251486,
       1104722.98572448, 1603184.11898069, 1173834.67225515,
       1094896.37674616, 1243666.64486451, 1361990.21142579,
        776575.65752448,  818689.22821043,  991673.88486143,
       1548428.84431855, 1489818.65048519, 1179250.93246755,
       1257884.25724599, 1518847.35831985, 1624287.18985551,
       1690466.56196768, 1984848.58382346,  975299.76802309,
       1113914.20996728, 1116303.86302732, 1209341.82863274,
       1405985.3029332 ,  787740.65761537, 1239342.76589198,
       1213425.86841255, 1807673.8583683 , 2113416.76418757,
       1115097.51268032, 1211645.65111478, 1351402.23259849,
       1392608.12181391, 1544842.3390883 ,  664286.58339658,
       1485930.53172266, 1025929.56811444,  973120.50029563,
       1421593.50550207, 1912733.19277445,  911790.72917843,
       1486142.06891827,  691264.84270742, 1035566.00656668,
       1348746.97187456, 1369989.25302403, 1053444.05205718,
       1490820.97175803, 1314758.01329404, 1646690.46899011,
       1287110.05699755, 1456522.76740745, 1433888.52858832,
       1037341.28180038, 1133208.25785655, 1401589.98846107,
       1581641.78361023, 1744727.96459247, 1462878.68264627,
       1299245.48624231, 1049261.34542855, 1105228.82158181,
       1468762.51054022, 1387323.59498709,  935675.65489817,
       1341772.98651887, 1117038.75772633, 1324334.6966553 ,
        556540.01649579, 1399341.75689477, 1352779.99270303,
       1303878.04489179, 2082533.24813824, 1907246.7655259 ,
        543094.51031812, 1523557.80472847, 1239638.05659622,
        748455.21944574, 1126356.02832838, 1467867.87315796,
        615896.46314443, 1113109.79670753, 1057840.15611014,
       1011372.87178993, 1579052.36518508, 1078065.14406485,
       1059713.73982385, 1033011.65927942, 1223148.92838825,
        883651.16104792, 1512731.78691817, 1868746.45666125,
       1031686.44658235, 1486437.40959719, 1335990.1117833 ,
       1117294.9500732 ,  975567.02128315,  677155.30093651,
       1330497.71690866, 1170165.54638328, 1563822.73411267,
       1141028.59655676, 1130747.25892463,  861848.67933923,
        494519.09815139, 1289093.20869599, 1042988.76143544,
       1660287.99919671, 1156740.65485873, 2041700.94883792,
       1519618.1480841 , 1232580.86857557, 1545767.93704886,
       1433401.8074584 , 1705480.35496087, 1285845.22229445,
       1528173.00415898,  972686.30895725, 1290045.88510733,
       1110644.63083122, 1429781.25328156, 1709684.7038908 ,
       1158021.84713053,  653472.6730771 , 1225023.37094519,
        923857.03058983, 1266362.26461179,  895894.14059675,
       1230446.89564718,  919504.99457273,  978013.89174557,
       1208703.8430693 , 1150445.43600455, 1767868.71166533,
       1189855.26396513,  980264.84864616, 1336075.09959697,
       1645953.42291935,  964095.08149315, 1285203.53746672,
       1410937.64951762,  675159.36017408, 1205842.29260165,
        731432.03779126, 1685451.26496726,  869919.99655357,
       1134865.73569829,  513603.86542478, 1286064.90219594,
       1375709.17411094, 1307728.63299692, 1432736.11508791,
       1050070.77389653,  688117.27465995, 1097447.51559987,
       1566387.98804125, 1022658.93184327, 1054182.46108231,
        823679.05250818, 1172099.40672036, 1595439.90929325,
       1599149.57255714, 1364162.29373765, 1191040.12857014,
        658978.35716734, 1563608.03573893,  817325.44927691,
       1135742.59640339, 1560830.92118658, 1121990.59049354,
       1566070.45881349, 1379209.54440665, 1608098.85703652,
       1050053.08232187, 1172232.9355744 , 1452296.42165799,
       1823617.04253796, 1643488.72903912, 1493599.77892363,
       1423934.88599897, 1228109.89471434, 1372445.53265264,
       1429463.14096031, 1547547.32918059,  913348.69818583,
       1247600.21751204,  254469.15435068, 1227430.09432128,
       1123137.26770319,  862961.55840212,  736357.24454967,
       1041914.61978264, 1108608.24015492, 1227754.15561298,
       1445811.88887277, 1332832.1420451 , 1045227.86059846,
        774144.76504147, 1750556.30815976, 1467553.62556596,
       2136464.66052611, 1721953.82893684, 1114470.3216191 ,
       1993915.46757591, 1197063.38481287,  663496.46983964,
        658864.00948715, 1797157.01238184,  466500.83358697,
       1362107.03379701,  893660.8644451 ,  704974.33049198,
       1396191.927194  , 1419939.42230632,  963528.78036069,
       1733195.51760711,  874555.30664385, 1434420.21015991,
       1126839.20604804, 1671730.68582129, 1438878.95728202,
       1499108.33870188,  970005.17722698, 1041771.40989884,
       1315885.96829528, 1012288.42803222, 1319953.67620187,
       1132115.54225215, 1508293.08645838,  990811.60693042,
       1206725.51698146, 1987202.52252167, 1226719.61108878,
       1394924.50786782, 1266446.70006787, 1580396.50671396,
       1024966.90010112, 1670410.23658106, 1270015.68505177,
       1241059.0517745 ,  328457.02040572,  721420.57405829,
       1100165.8376295 , 1186419.45281238, 1265120.15891138,
       1192654.63068982, 1302286.36319765, 1074747.11307736,
       1174300.81866431, 1457047.48046325, 1187099.91864142,
       1358367.32641064, 1495436.87842101,  914790.21835846,
       1314270.57608435, 1576181.57550612, 1160454.30327981,
       1430195.57063595, 1291998.84166276, 1152634.69828501,
       1823917.79779135, 1047516.45156819,  912787.77119891,
       1258475.63780713, 1463325.23029396, 1637845.61223712,
       1525445.43726766, 1017575.4806443 ,  648605.26762468,
        647696.69165164, 1146877.49210091, 1259683.46384348,
       1262546.56050669,  585839.36413323, 1183415.81192054,
       1118381.16150267, 1813227.47337879, 1798609.2186477 ,
       1121769.87665178, 1423859.13672635, 1513864.90704402,
       1320908.57925967, 1447702.07295401, 1293291.58369905,
       1555369.08590901, 1235837.44386531,  662220.3867817 ,
       1267306.3972128 , 1052885.25278126, 1863879.62605086,
       1561397.03003078,  735637.58085203, 1237594.7081243 ,
        905689.12163606, 1750655.58909355, 1607199.74983888,
       1503239.35095528, 1407872.21367127, 1390631.66183159,
        368338.7550125 , 1670272.86446987, 2118087.18256304,
        418990.14828787, 1491164.24996482, 1204729.58025576,
       1529385.88603343, 1029391.93433922,  840597.59637045,
        843661.63956699,  600117.33533874,  852027.77271093,
       1036732.62177286, 1502736.68487977, 1356586.30928894,
       1165167.93498696,  983692.29059168, 1620290.35844862,
       1190562.13296873, 1279133.35811558,  539327.44850828,
       1117750.96032906, 1433910.32103607, 1185461.6374142 ,
       1291307.68910017, 1341088.93179206, 1181031.64810638,
       1512603.29857197, 1263771.08567528, 1346097.73012525,
       1275568.36842144,  736640.37645628, 1551491.88183693,
       1402359.88350081, 1185492.27225312, 1368861.49697102,
       1106677.29726366,  972812.1540862 , 1205151.51438026,
       1932138.17846465,  757582.63511713,  970896.80602787,
       1447554.02457342, 1864179.72493757,  917688.94229473,
       1007698.29640046,  928505.70425657,  960261.08131261,
       1225388.8082002 , 1265049.79631258, 1615632.00696321,
       1585824.634893  ,  769147.13248871, 1736794.00197841,
       1597701.12904099, 1681952.68798381,  979089.14132786,
       1367161.31079995,  904231.89811507, 1629060.66955626,
        688505.06996345, 1569656.05982318, 1464265.15980254,
       1648167.75640939, 1187145.79153549, 1172038.41052608,
       1332039.48549347, 1255489.80220632, 1864731.41329736,
        755292.9658022 , 1396950.22279645, 1709874.94034674,
       1566072.95234168,  885035.37708253, 1315367.42051193,
       1178970.11150734, 1070461.14652591, 1377428.64861939,
       1104033.67143322, 1169391.41929299,  997513.75158662,
       1475906.15614492, 1529155.9371788 , 1614064.27271681,
       1371214.83245457,  962192.18699349, 1521238.20001168,
       1165933.52792564,  877866.10017839, 1172507.10003808,
        611503.64955428, 1497804.84724072, 1023560.66941859,
       1654142.94208951,  873633.17390613, 1473831.06868394,
       1589435.58409232, 2473740.89150708, 1309717.10060642,
        932423.47015609, 1294905.92174289, 1589783.43609959,
        605516.06064825, 1593949.92622427, 1191015.36075184,
       1573365.85597862,  773813.22902708, 1496313.25505737,
        728813.05817232, 1508300.74965104, 1050956.71819104,
       1302147.06643004, 1274884.51862288,  994993.16825346,
        614044.63944453, 1594304.36001067, 1398412.68743735,
       1310439.48533611, 1201364.45194064, 1040534.81982341,
       1527809.72890513,  972487.32774446, 1425490.9308005 ,
       1169468.82265014,  865176.91571712, 1544320.27258926,
        956846.36166385, 1646895.38335926, 1261600.76082731,
        634281.10558004,  574334.7183093 , 1707131.2913059 ,
       1624551.35276834,  836421.02865796,  875174.30859055,
       1302686.8535881 , 1164951.86059419,  754383.28239028,
        981506.95009694, 1157520.89841742,  947652.31309107,
       1121360.63648101, 1543798.03043592, 1296597.02881588,
        693462.2068422 , 1040852.26824145,  862104.94899752,
       1241398.14696189, 1068537.14396381, 1037009.74234498,
       1219117.04747927, 1342803.9961985 , 1124815.83654139,
       1456249.16095862, 1093036.49097767, 1241393.92675558,
       1317346.30157902, 1505848.48120338, 1581511.81810736,
       1267349.26309055,  963003.21133634, 1303604.8435354 ,
        947471.58110888, 1121442.77838188, 1174833.07000792,
        984553.76008615, 1033112.9176516 , 1111077.01717671,

In [57]:
y_test

1501    1.339096e+06
2586    1.251794e+06
2653    1.340095e+06
1055    1.431508e+06
705     1.042374e+06
            ...
4711    1.107031e+06
2313    1.405505e+06
3214    1.924156e+06
2732    1.571254e+06
1926    8.831475e+05
Name: Price, Length: 1000, dtype: float64

In [58]:
model.coef_

array([230823.64852461, 163359.21821032, 120295.64483813,   2374.27824658,
       151477.5374141 ,   6973.60814391,   1368.04920912,   8067.37239459,
         2181.57334118])

In [59]:
model.intercept_

1218948.7183183695

In [60]:
print(f"RMSE  {np.sqrt(mean_squared_error(y_test, y_pred))}") # RMSE = sqrt( (1/n) * Σ(actual - predicted)² )

print(f"MSE  {mean_squared_error(y_test, y_pred)}") # MSE = (1/n) * Σ(actual - predicted)²

print(f"MAE  {mean_absolute_error(y_test, y_pred)}") # MAE = (1/n) * Σ|actual - predicted|

print(f"R2  {r2_score(y_test, y_pred)}")# R² = 1 - (Σ(actual - predicted)² / Σ(actual - mean(actual))²)

RMSE  100433.35754553918
MSE  10086859307.870113
MAE  80891.67003962323
R2  0.9180146456907119

Bu kod maşın öyrənmə modelinizin nə qədər yaxşı olduğunu dəyərləndirmək üçün müxtəlif metrikləri hesablayır. Onları sadə dillə izah edim:

RMSE (Root Mean Squared Error)  - Köklənmiş Orta Kvadrat Səhvi: Bu, səhvlərin böyüklüyünü (yəni, proqnozladığınız dəyərlərin əsl dəyərlərdən nə qədər fərqləndiyini) ölçən metrikdir. Dəyərlər arasındakı fərqləri kvadratlayıb orta dəyərini tapır, sonra kökünü alırıq. RMSE kiçikdirsə, model yaxşı işləyir.

MSE (Mean Squared Error) - Orta Kvadrat Səhvi: MSE də səhvləri ölçür, amma fərqlərin kvadratlarını toplayıb ortalamasını tapır. Bu da modelin səhv dərəcəsini göstərir, ancaq RMSE-dən fərqli olaraq, kökünü almırıq. Kiçik olması yaxşı nəticədir.

MAE (Mean Absolute Error) - Orta Absolyut Səhv: Bu metrik də səhvləri ölçür, amma fərqləri kvadratlamadan, sadəcə onların absolyut dəyərini alırıq. Yəni, mənfi fərqlər yox olur. MAE də kiçik olduqda model yaxşı hesab olunur.

R² (R-squared score) - R kvadrat skoru: Bu metrik modelin nə qədər yaxşı olduğunu faiz şəklində göstərir. Yəni, modeliniz əsl dəyərləri nə qədər yaxşı təxmin edir. R² dəyəri 1-ə nə qədər yaxın olarsa, model bir o qədər yaxşıdır. Əgər mənfi dəyərdirsə, model çox zəif işləyir.

In [61]:
alpha_values = [0.00001,0.0001,0.001,0.01, 0.1, 1, 10, 100,1000]

In [62]:
ridge=[]
lasso=[]

for alpha in alpha_values:
    ridge_model = Ridge(alpha=alpha)
    ridge_model.fit(X_train, y_train)
    y_pred = ridge_model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2=r2_score(y_test, y_pred)
    ridge.append((alpha, rmse,r2))


for alpha in alpha_values:
    lasso_model = Lasso(alpha=alpha)
    lasso_model.fit(X_train, y_train)
    y_pred = lasso_model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2=r2_score(y_test, y_pred)
    lasso.append((alpha, rmse,r2))

In [63]:
ridge

[(1e-05, 100433.35754354938, 0.9180146456939605),
 (0.0001, 100433.35752564181, 0.918014645723197),
 (0.001, 100433.35734660257, 0.9180146460155022),
 (0.01, 100433.35555984847, 0.918014648932614),
 (0.1, 100433.33805611865, 0.9180146775097595),
 (1, 100433.19936199598, 0.9180149039460155),
 (10, 100435.41043816188, 0.9180112940383671),
 (100, 100789.67372335125, 0.9174318805808962),
 (1000, 121931.71869004893, 0.8791591683658301)]

In [64]:
lasso

[(1e-05, 100433.35754509071, 0.9180146456914442),
 (0.0001, 100433.35754104829, 0.9180146456980439),
 (0.001, 100433.35750071851, 0.9180146457638876),
 (0.01, 100433.35709678542, 0.9180146464233616),
 (0.1, 100433.35305638253, 0.9180146530198523),
 (1, 100433.31332810935, 0.9180147178814848),
 (10, 100432.97254830021, 0.9180152742483011),
 (100, 100430.89892020007, 0.9180186596718676),
 (1000, 100450.63706382507, 0.9179864321701823)]

In [65]:
data

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Northeast,South,US Territories,West
0,1.028660,-0.296927,0.021274,4.09,-1.317599,1.059034e+06,0,0,0,0
1,1.000808,0.025902,-0.255506,3.09,0.403999,1.505891e+06,0,0,0,1
2,-0.684629,-0.112303,1.516243,5.13,0.072410,1.058988e+06,0,0,0,0
3,-0.491499,1.221572,-1.393077,3.26,-0.186734,1.260617e+06,0,0,1,0
4,-0.807073,-0.944834,0.846742,4.23,-0.988387,6.309435e+05,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
4995,-0.752109,1.869297,-0.845588,3.46,-1.342732,1.060194e+06,0,0,1,0
4996,0.929740,1.030822,-0.408686,4.02,-1.062747,1.482618e+06,0,0,1,0
4997,-0.487235,1.284470,-2.170269,2.13,-0.291937,1.030730e+06,0,1,0,0
4998,-0.054592,-0.446694,0.141541,5.44,0.651116,1.198657e+06,0,0,1,0
4999,-0.288313,0.015215,-0.194342,4.07,1.041625,1.298950e+06,0,0,0,1

In [66]:
data.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Northeast',
       'South', 'US Territories', 'West'],
      dtype='object')

In [67]:
df_corr=data[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price']].corr()

df_corr

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
Avg. Area Income,1.000000,-0.002007,-0.011032,0.019788,-0.016234,0.639734
Avg. Area House Age,-0.002007,1.000000,-0.009428,0.006149,-0.018743,0.452543
Avg. Area Number of Rooms,-0.011032,-0.009428,1.000000,0.462695,0.002040,0.335664
Avg. Area Number of Bedrooms,0.019788,0.006149,0.462695,1.000000,-0.022168,0.171071
Area Population,-0.016234,-0.018743,0.002040,-0.022168,1.000000,0.408556
Price,0.639734,0.452543,0.335664,0.171071,0.408556,1.000000

Avg. Area Income: 0.639734 (strong positive correlation)
Avg. Area House Age: 0.452543 (moderate positive correlation)
Avg. Area Number of Rooms: 0.335664 (weaker positive correlation)
Area Population: 0.408556 (weaker positive correlation)

In [68]:
data.drop(['Avg. Area Number of Bedrooms','Price'],axis=1)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Area Population,Northeast,South,US Territories,West
0,1.028660,-0.296927,0.021274,-1.317599,0,0,0,0
1,1.000808,0.025902,-0.255506,0.403999,0,0,0,1
2,-0.684629,-0.112303,1.516243,0.072410,0,0,0,0
3,-0.491499,1.221572,-1.393077,-0.186734,0,0,1,0
4,-0.807073,-0.944834,0.846742,-0.988387,0,0,1,0
...,...,...,...,...,...,...,...,...
4995,-0.752109,1.869297,-0.845588,-1.342732,0,0,1,0
4996,0.929740,1.030822,-0.408686,-1.062747,0,0,1,0
4997,-0.487235,1.284470,-2.170269,-0.291937,0,1,0,0
4998,-0.054592,-0.446694,0.141541,0.651116,0,0,1,0
4999,-0.288313,0.015215,-0.194342,1.041625,0,0,0,1

In [69]:
X = data.drop(['Avg. Area Number of Bedrooms','Price'],axis=1)
y = data['Price']

In [70]:
X

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Area Population,Northeast,South,US Territories,West
0,1.028660,-0.296927,0.021274,-1.317599,0,0,0,0
1,1.000808,0.025902,-0.255506,0.403999,0,0,0,1
2,-0.684629,-0.112303,1.516243,0.072410,0,0,0,0
3,-0.491499,1.221572,-1.393077,-0.186734,0,0,1,0
4,-0.807073,-0.944834,0.846742,-0.988387,0,0,1,0
...,...,...,...,...,...,...,...,...
4995,-0.752109,1.869297,-0.845588,-1.342732,0,0,1,0
4996,0.929740,1.030822,-0.408686,-1.062747,0,0,1,0
4997,-0.487235,1.284470,-2.170269,-0.291937,0,1,0,0
4998,-0.054592,-0.446694,0.141541,0.651116,0,0,1,0
4999,-0.288313,0.015215,-0.194342,1.041625,0,0,0,1

In [71]:
y

0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 5000, dtype: float64

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [73]:
alpha_values = [0.00001,0.0001,0.001,0.01, 0.1, 1, 10, 100,1000]

In [74]:
ridge = []
lasso = []

In [75]:
ridge=[]
lasso=[]

for alpha in alpha_values:
    ridge_model = Ridge(alpha=alpha)
    ridge_model.fit(X_train, y_train)
    y_pred = ridge_model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2=r2_score(y_test, y_pred)
    ridge.append((alpha, rmse,r2))


for alpha in alpha_values:
    lasso_model = Lasso(alpha=alpha)
    lasso_model.fit(X_train, y_train)
    y_pred = lasso_model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2=r2_score(y_test, y_pred)
    lasso.append((alpha, rmse,r2))

In [76]:
ridge

[(1e-05, 100359.99692330908, 0.9181343728438403),
 (0.0001, 100359.99683607447, 0.9181343729861582),
 (0.001, 100359.99596376353, 0.9181343744092807),
 (0.01, 100359.98724418295, 0.9181343886347473),
 (0.1, 100359.90040120186, 0.9181345303137343),
 (1, 100359.06721801, 0.9181358895946808),
 (10, 100354.22581953263, 0.9181437877792825),
 (100, 100629.27624517499, 0.9176944705777721),
 (1000, 121169.25972703574, 0.8806657181772175)]

In [77]:
lasso

[(1e-05, 100359.99693268699, 0.9181343728285407),
 (0.0001, 100359.99692983544, 0.9181343728331929),
 (0.001, 100359.99690157283, 0.9181343728793017),
 (0.01, 100359.99661712772, 0.9181343733433566),
 (0.1, 100359.99375990152, 0.918134378004748),
 (1, 100359.96605103268, 0.918134423210081),
 (10, 100359.7449388967, 0.9181347839406255),
 (100, 100359.51801846207, 0.9181351541462178),
 (1000, 100388.59237850273, 0.918087714445035)]

In [78]:
alpha_values = np.linspace(0.0001,1000, num=100)  # 100 deyer  ,0.0001 ve 1000 arasinda
alpha_values

array([1.00000000e-04, 1.01011091e+01, 2.02021182e+01, 3.03031273e+01,
       4.04041364e+01, 5.05051455e+01, 6.06061545e+01, 7.07071636e+01,
       8.08081727e+01, 9.09091818e+01, 1.01010191e+02, 1.11111200e+02,
       1.21212209e+02, 1.31313218e+02, 1.41414227e+02, 1.51515236e+02,
       1.61616245e+02, 1.71717255e+02, 1.81818264e+02, 1.91919273e+02,
       2.02020282e+02, 2.12121291e+02, 2.22222300e+02, 2.32323309e+02,
       2.42424318e+02, 2.52525327e+02, 2.62626336e+02, 2.72727345e+02,
       2.82828355e+02, 2.92929364e+02, 3.03030373e+02, 3.13131382e+02,
       3.23232391e+02, 3.33333400e+02, 3.43434409e+02, 3.53535418e+02,
       3.63636427e+02, 3.73737436e+02, 3.83838445e+02, 3.93939455e+02,
       4.04040464e+02, 4.14141473e+02, 4.24242482e+02, 4.34343491e+02,
       4.44444500e+02, 4.54545509e+02, 4.64646518e+02, 4.74747527e+02,
       4.84848536e+02, 4.94949545e+02, 5.05050555e+02, 5.15151564e+02,
       5.25252573e+02, 5.35353582e+02, 5.45454591e+02, 5.55555600e+02,
       5.65656609e+02, 5.75757618e+02, 5.85858627e+02, 5.95959636e+02,
       6.06060645e+02, 6.16161655e+02, 6.26262664e+02, 6.36363673e+02,
       6.46464682e+02, 6.56565691e+02, 6.66666700e+02, 6.76767709e+02,
       6.86868718e+02, 6.96969727e+02, 7.07070736e+02, 7.17171745e+02,
       7.27272755e+02, 7.37373764e+02, 7.47474773e+02, 7.57575782e+02,
       7.67676791e+02, 7.77777800e+02, 7.87878809e+02, 7.97979818e+02,
       8.08080827e+02, 8.18181836e+02, 8.28282845e+02, 8.38383855e+02,
       8.48484864e+02, 8.58585873e+02, 8.68686882e+02, 8.78787891e+02,
       8.88888900e+02, 8.98989909e+02, 9.09090918e+02, 9.19191927e+02,
       9.29292936e+02, 9.39393945e+02, 9.49494955e+02, 9.59595964e+02,
       9.69696973e+02, 9.79797982e+02, 9.89898991e+02, 1.00000000e+03])

In [79]:
ridge=[]
lasso=[]

for alpha in alpha_values:
    ridge_model = Ridge(alpha=alpha)
    ridge_model.fit(X_train, y_train)
    y_pred = ridge_model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2=r2_score(y_test, y_pred)
    ridge.append((alpha, rmse,r2))


for alpha in alpha_values:
    lasso_model = Lasso(alpha=alpha)
    lasso_model.fit(X_train, y_train)
    y_pred = lasso_model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2=r2_score(y_test, y_pred)
    lasso.append((alpha, rmse,r2))

In [80]:
ridge

[(0.0001, 100359.99683607447, 0.9181343729861582),
 (10.101109090909091, 100354.2071397946, 0.9181438182523881),
 (20.202118181818182, 100356.27307412364, 0.9181404479654531),
 (30.303127272727274, 100365.99859595818, 0.9181245811857771),
 (40.40413636363637, 100383.21040276703, 0.9180964970787102),
 (50.505145454545456, 100407.75079501545, 0.9180564467602806),
 (60.60615454545455, 100439.47304989364, 0.9180046610189178),
 (70.70716363636365, 100478.23835828791, 0.9179413554697672),
 (80.80817272727273, 100523.91375917943, 0.9178667340702733),
 (90.90918181818182, 100576.37072460682, 0.917780991566132),
 (101.01019090909091, 100635.48417738084, 0.9176843152248503),
 (111.11120000000001, 100701.13180177854, 0.9175768860860648),
 (121.2122090909091, 100773.19355574384, 0.9174588798785318),
 (131.3132181818182, 100851.55132364921, 0.9173304677036256),
 (141.4142272727273, 100936.08866834082, 0.9171918165529418),
 (151.51523636363638, 101026.6906540888, 0.9170430897064555),
 (161.61624545454546, 101123.2437206588, 0.9168844470436105),
 (171.71725454545455, 101225.63559453556, 0.9167160452901918),
 (181.81826363636364, 101333.75522731896, 0.9165380382173062),
 (191.91927272727273, 101447.4927540825, 0.916350576804269),
 (202.02028181818181, 101566.73946643488, 0.9161538093740046),
 (212.12129090909093, 101691.38779641096, 0.9159478817073109),
 (222.22230000000002, 101821.3313083147, 0.9157329371407111),
 (232.3233090909091, 101956.4646963612, 0.9155091166514391),
 (242.4243181818182, 102096.68378649425, 0.915276558932241),
 (252.52532727272728, 102241.88554114955, 0.9150354004580449),
 (262.62633636363637, 102391.96806602507, 0.9147857755460678),
 (272.72734545454546, 102546.83061814166, 0.914527816410585),
 (282.82835454545454, 102706.37361464225, 0.914261653213309),
 (292.92936363636363, 102870.49864190728, 0.9139874141101263),
 (303.0303727272727, 103039.10846466046, 0.9137052252947835),
 (313.1313818181818, 103212.10703481536, 0.9134152110399912),
 (323.2323909090909, 103389.39949987338, 0.9131174937363234),
 (333.3334, 103570.89221072769, 0.9128121939292146),
 (343.43440909090907, 103756.49272876723, 0.9124994303543013),
 (353.53541818181816, 103946.10983220104, 0.9121793199713096),
 (363.63642727272725, 104139.65352154803, 0.9118519779966521),
 (373.73743636363633, 104337.0350242547, 0.9115175179348711),
 (383.8384454545454, 104538.16679841842, 0.9111760516090434),
 (393.9394545454545, 104742.96253560566, 0.9108276891902382),
 (404.0404636363636, 104951.33716276416, 0.9104725392261108),
 (414.14147272727274, 105163.20684323499, 0.9101107086686991),
 (424.24248181818183, 105378.48897687769, 0.9097423029014808),
 (434.3434909090909, 105597.10219932604, 0.9093674257657403),
 (444.4445, 105818.96638039526, 0.9089861795862897),
 (454.5455090909091, 106044.00262166615, 0.9085986651965806),
 (464.6465181818182, 106272.13325327192, 0.9082049819632394),
 (474.74752727272727, 106503.28182991824, 0.9078052278100545),
 (484.84853636363636, 106737.37312616462, 0.9073994992414434),
 (494.94954545454544, 106974.3331310004, 0.9069878913654192),
 (505.05055454545453, 107214.08904174555, 0.9065704979160806),
 (515.1515636363637, 107456.56925730994, 0.9061474112756402),
 (525.2525727272728, 107701.70337084217, 0.9057187224960128),
 (535.3535818181819, 107949.42216180154, 0.9052845213199748),
 (545.4545909090909, 108199.65758748478, 0.9048448962019111),
 (555.5556, 108452.34277403934, 0.9043999343281628),
 (565.6566090909091, 108707.412006995, 0.9039497216369865),
 (575.7576181818182, 108964.80072134432, 0.9034943428381388),
 (585.8586272727273, 109224.44549120235, 0.903033881432094),
 (595.9596363636364, 109486.28401907525, 0.9025684197289069),
 (606.0606454545455, 109750.25512476606, 0.90209803886673),
 (616.1616545454546, 110016.29873394618, 0.9016228188299927),
 (626.2626636363636, 110284.35586641954, 0.9011428384672526),
 (636.3636727272727, 110554.36862410516, 0.900658175508726),
 (646.4646818181818, 110826.28017876462, 0.900168906583505),
 (656.5656909090909, 111100.03475949758, 0.8996751072364704),
 (666.6667, 111375.57764002998, 0.8991768519449043),
 (676.7677090909091, 111652.85512581746, 0.8986742141348119),
 (686.8687181818182, 111931.81454098447, 0.898167266196959),
 (696.9697272727273, 112212.40421512234, 0.897656079502628),
 (707.0707363636363, 112494.5734699637, 0.8971407244191041),
 (717.1717454545454, 112778.27260595422, 0.896621270324891),
 (727.2727545454545, 113063.45288873884, 0.8960977856246681),
 (737.3737636363636, 113350.06653558012, 0.8955703377639896),
 (747.4747727272727, 113638.06670172527, 0.8950389932437345),
 (757.5757818181818, 113927.40746673763, 0.8945038176343088),
 (767.6767909090909, 114218.0438208067, 0.8939648755896099),
 (777.7778, 114509.93165105228, 0.8934222308607525),
 (787.878809090909, 114803.02772783407, 0.8928759463095655),
 (797.9798181818181, 115097.28969108136, 0.8923260839218607),
 (808.0808272727272, 115392.6760366529, 0.8917727048204813),
 (818.1818363636364, 115689.14610273918, 0.8912158692781303),
 (828.2828454545455, 115986.66005631702, 0.8906556367299883),
 (838.3838545454546, 116285.1788796669, 0.8900920657861187),
 (848.4848636363637, 116584.6643569613, 0.8895252142436705),
 (858.5858727272728, 116885.07906093335, 0.8889551390988782),
 (868.6868818181819, 117186.38633963402, 0.8883818965588639),
 (878.787890909091, 117488.55030328405, 0.8878055420532461),
 (888.8889, 117791.53581122898, 0.8872261302455582),
 (898.9899090909091, 118095.30845900271, 0.8866437150444798),
 (909.0909181818182, 118399.83456550578, 0.8860583496148864),
 (919.1919272727273, 118705.08116030393, 0.8854700863887168),
 (929.2929363636364, 119011.01597105178, 0.8848789770756664),
 (939.3939454545455, 119317.60741104558, 0.8842850726737064),
 (949.4949545454546, 119624.82456691084, 0.8836884234794318),
 (959.5959636363636, 119932.63718642622, 0.8830890790982453),
 (969.6969727272727, 120241.01566648905, 0.8824870884543745),
 (979.7979818181818, 120549.93104122452, 0.8818824998007299),
 (989.8989909090909, 120859.3549702412, 0.8812753607286044),
 (1000.0, 121169.25972703574, 0.8806657181772175)]

In [81]:
lasso

[(0.0001, 100359.99692983544, 0.9181343728331929),
 (10.101109090909091, 100359.7431093848, 0.9181347869253559),
 (20.202118181818182, 100359.61870372058, 0.9181349898850204),
 (30.303127272727274, 100359.6263514285, 0.9181349774082949),
 (40.40413636363637, 100359.7611460074, 0.9181347574997707),
 (50.505145454545456, 100360.02228088508, 0.9181343314744862),
 (60.60615454545455, 100359.97413990849, 0.9181344100135737),
 (70.70716363636365, 100359.79489835611, 0.9181347024349789),
 (80.80817272727273, 100359.65864276479, 0.9181349247271222),
 (90.90918181818182, 100359.56537393082, 0.9181350768889902),
 (101.01019090909091, 100359.51489675837, 0.9181351592390639),
 (111.11120000000001, 100359.50905133899, 0.9181351687754654),
 (121.2122090909091, 100359.4559898425, 0.9181352553416383),
 (131.3132181818182, 100359.15813488087, 0.9181357412706214),
 (141.4142272727273, 100358.88427546271, 0.9181361880513256),
 (151.51523636363638, 100358.63441178444, 0.9181365956837511),
 (161.61624545454546, 100358.40854402533, 0.9181369641678977),
 (171.71725454545455, 100358.20667234737, 0.9181372935037655),
 (181.81826363636364, 100358.02879689536, 0.9181375836913546),
 (191.91927272727273, 100357.87491779691, 0.9181378347306647),
 (202.02028181818181, 100357.74503516241, 0.9181380466216961),
 (212.12129090909093, 100357.63914908501, 0.9181382193644487),
 (222.22230000000002, 100357.55725964066, 0.9181383529589224),
 (232.3233090909091, 100357.49940616159, 0.9181384473410467),
 (242.4243181818182, 100357.46573072372, 0.9181385022791068),
 (252.52532727272728, 100357.45605804077, 0.9181385180591042),
 (262.62633636363637, 100357.47038811969, 0.9181384946810389),
 (272.72734545454546, 100357.50872095022, 0.9181384321449109),
 (282.82835454545454, 100357.57105650482, 0.9181383304507201),
 (292.92936363636363, 100357.6573947388, 0.9181381895984666),
 (303.0303727272727, 100357.76773559018, 0.9181380095881504),
 (313.1313818181818, 100357.90207897978, 0.9181377904197715),
 (323.2323909090909, 100358.06042481124, 0.9181375320933298),
 (333.3334, 100358.24277297095, 0.9181372346088255),
 (343.43440909090907, 100358.44912332803, 0.9181368979662584),
 (353.53541818181816, 100358.67947289774, 0.9181365221702564),
 (363.63642727272725, 100358.95086051928, 0.9181360794230083),
 (373.73743636363633, 100359.2284769345, 0.9181356265127417),
 (383.8384454545454, 100359.53007309526, 0.9181351344799068),
 (393.9394545454545, 100359.85564878535, 0.9181346033245039),
 (404.0404636363636, 100360.20520377145, 0.9181340330465327),
 (414.14147272727274, 100360.57873780292, 0.9181334236459935),
 (424.24248181818183, 100360.97625061208, 0.918132775122886),
 (434.3434909090909, 100361.39774191398, 0.9181320874772105),
 (444.4445, 100361.84321140652, 0.9181313607089668),
 (454.5455090909091, 100362.31265877042, 0.9181305948181551),
 (464.6465181818182, 100362.80608366917, 0.9181297898047751),
 (474.74752727272727, 100363.32348574918, 0.918128945668827),
 (484.84853636363636, 100363.86486463957, 0.9181280624103108),
 (494.94954545454544, 100364.43021995237, 0.9181271400292264),
 (505.05055454545453, 100365.01955128237, 0.9181261785255739),
 (515.1515636363637, 100365.63285820726, 0.9181251778993532),
 (525.2525727272728, 100366.27014028751, 0.9181241381505644),
 (535.3535818181819, 100366.93139706642, 0.9181230592792075),
 (545.4545909090909, 100367.41468499377, 0.9181222707678582),
 (555.5556, 100367.66327872477, 0.9181218651717697),
 (565.6566090909091, 100367.92196592693, 0.9181214431064906),
 (575.7576181818182, 100368.1907465222, 0.9181210045720206),
 (585.8586272727273, 100368.46962042952, 0.9181205495683599),
 (595.9596363636364, 100368.75858756473, 0.9181200780955084),
 (606.0606454545455, 100369.05764784066, 0.9181195901534662),
 (616.1616545454546, 100369.36680116711, 0.9181190857422332),
 (626.2626636363636, 100369.68604745078, 0.9181185648618095),
 (636.3636727272727, 100370.01538659539, 0.9181180275121951),
 (646.4646818181818, 100370.35481850158, 0.9181174736933899),
 (656.5656909090909, 100370.70434306694, 0.918116903405394),
 (666.6667, 100371.06396018607, 0.9181163166482073),
 (676.7677090909091, 100371.43366975048, 0.9181157134218297),
 (686.8687181818182, 100371.8134716486, 0.9181150937262615),
 (696.9697272727273, 100372.20336576592, 0.9181144575615026),
 (707.0707363636363, 100372.60335198478, 0.9181138049275529),
 (717.1717454545454, 100373.01343018457, 0.9181131358244125),
 (727.2727545454545, 100373.43360024161, 0.9181124502520812),
 (737.3737636363636, 100373.8638620291, 0.9181117482105593),
 (747.4747727272727, 100374.30421541733, 0.9181110296998466),
 (757.5757818181818, 100374.75466027345, 0.9181102947199431),
 (767.6767909090909, 100375.21519646159, 0.9181095432708489),
 (777.7778, 100375.68582384288, 0.918108775352564),
 (787.878809090909, 100376.16654227534, 0.9181079909650882),
 (797.9798181818181, 100376.65735161403, 0.9181071901084218),
 (808.0808272727272, 100377.15825171089, 0.9181063727825646),
 (818.1818363636364, 100377.6692424149, 0.9181055389875166),
 (828.2828454545455, 100378.1903235719, 0.9181046887232779),
 (838.3838545454546, 100378.72149502479, 0.9181038219898484),
 (848.4848636363637, 100379.26275661336, 0.9181029387872283),
 (858.5858727272728, 100379.81410817443, 0.9181020391154173),
 (868.6868818181819, 100380.37554954167, 0.9181011229744156),
 (878.787890909091, 100380.94708054584, 0.9181001903642231),
 (888.8889, 100381.52870101458, 0.9180992412848399),
 (898.9899090909091, 100382.12041077252, 0.9180982757362659),
 (909.0909181818182, 100382.72220964124, 0.9180972937185012),
 (919.1919272727273, 100383.33409743928, 0.9180962952315458),
 (929.2929363636364, 100383.95607398213, 0.9180952802753996),
 (939.3939454545455, 100384.58813908232, 0.9180942488500625),
 (949.4949545454546, 100385.23029254925, 0.9180932009555348),
 (959.5959636363636, 100385.88253418932, 0.9180921365918164),
 (969.6969727272727, 100386.5448638059, 0.9180910557589071),
 (979.7979818181818, 100387.2172811993, 0.9180899584568072),
 (989.8989909090909, 100387.89978616682, 0.9180888446855165),
 (1000.0, 100388.59237850273, 0.918087714445035)]

In [83]:
ridge_results_df=pd.DataFrame(ridge, columns=['Alpha', 'RMSE','r2']).set_index('Alpha')
lasso_results_df=pd.DataFrame(lasso, columns=['Alpha', 'RMSE','r2']).set_index('Alpha')

In [85]:
ridge_results_df

                      RMSE        r2
Alpha
0.000100     100359.996836  0.918134
10.101109    100354.207140  0.918144
20.202118    100356.273074  0.918140
30.303127    100365.998596  0.918125
40.404136    100383.210403  0.918096
...                    ...       ...
959.595964   119932.637186  0.883089
969.696973   120241.015666  0.882487
979.797982   120549.931041  0.881882
989.898991   120859.354970  0.881275
1000.000000  121169.259727  0.880666

[100 rows x 2 columns]

In [87]:
lasso_results_df

                      RMSE        r2
Alpha
0.000100     100359.996930  0.918134
10.101109    100359.743109  0.918135
20.202118    100359.618704  0.918135
30.303127    100359.626351  0.918135
40.404136    100359.761146  0.918135
...                    ...       ...
959.595964   100385.882534  0.918092
969.696973   100386.544864  0.918091
979.797982   100387.217281  0.918090
989.898991   100387.899786  0.918089
1000.000000  100388.592379  0.918088

[100 rows x 2 columns]

In [89]:
ridge_results_df['RMSE'].idxmin()

10.101109090909091

In [91]:
lasso_results_df['RMSE'].idxmin()

252.52532727272728

In [93]:
ridge_results_df['RMSE'].min()

100354.2071397946

In [95]:
lasso_results_df['RMSE'].min()

100357.45605804077

Avg. Area Income: 0.639734 (strong positive correlation)
Avg. Area House Age: 0.452543 (moderate positive correlation)
Avg. Area Number of Rooms: 0.335664 (weaker positive correlation)
Area Population: 0.408556 (weaker positive correlation)

In [97]:
X = data.drop(['Avg. Area Number of Bedrooms','Avg. Area Number of Rooms','Price'],axis=1)
y = data['Price']

In [99]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [101]:
model=LinearRegression()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [103]:
alpha_values = [0.00001,0.0001,0.001,0.01, 0.1, 1, 10, 100,1000]
ridge=[]
lasso=[]

for alpha in alpha_values:
    ridge_model = Ridge(alpha=alpha)
    ridge_model.fit(X_train, y_train)
    y_pred = ridge_model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2=r2_score(y_test, y_pred)
    ridge.append((alpha, rmse,r2))


for alpha in alpha_values:
    lasso_model = Lasso(alpha=alpha)
    lasso_model.fit(X_train, y_train)
    y_pred = lasso_model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2=r2_score(y_test, y_pred)
    lasso.append((alpha, rmse,r2))

In [104]:
ridge

[(1e-05, 158900.34878980208, 0.7947751175657056),
 (0.0001, 158900.34875465563, 0.7947751176564912),
 (0.001, 158900.34840321227, 0.7947751185642918),
 (0.01, 158900.3448909117, 0.7947751276367887),
 (0.1, 158900.3099811512, 0.7947752178109209),
 (1, 158899.98217211576, 0.7947760645615473),
 (10, 158898.79898800625, 0.7947791207833538),
 (100, 159073.64727728532, 0.7943272323864565),
 (1000, 171169.81190466418, 0.7618587321708499)]

In [107]:
lasso

[(1e-05, 158900.34879082264, 0.7947751175630694),
 (0.0001, 158900.34876496237, 0.7947751176298681),
 (0.001, 158900.34850555175, 0.7947751182999424),
 (0.01, 158900.34592154424, 0.794775124974599),
 (0.1, 158900.32001217434, 0.794775191900152),
 (1, 158900.06076377985, 0.7947758615546701),
 (10, 158897.5114702603, 0.7947824464781361),
 (100, 158890.82385839173, 0.7947997203353923),
 (1000, 158859.1722726942, 0.7948814653622591)]